@page "{id:int?}"
@model RPInventarios.Pages.Departamentos.EditModel

@{
    ViewData["Title"] = "Editar Departamento";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Departamento.Id" />
            <div class="form-group">
                <label asp-for="Departamento.Nombre" class="control-label"></label>
                <input asp-for="Departamento.Nombre" class="form-control" />
                <span asp-validation-for="Departamento.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento.Descripcion" class="control-label"></label>
                <input asp-for="Departamento.Descripcion" class="form-control" />
                <span asp-validation-for="Departamento.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento.FechaCreacion" class="control-label"></label>
                <input asp-for="Departamento.FechaCreacion" class="form-control" />
                <span asp-validation-for="Departamento.FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <partial name="Acciones/_Edit" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
