@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@DateTime.Now

<p>use this page to detail your site's privacy policy.</p>


<h2> @("hola mundoooo")</h2>